* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.input-number {
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 25px;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-number input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.boton {
  margin: 20px 30px;
  width: 60px;
  height: 50px;
  background-color: #a4a4a4;
}

.icono {
  font-size: 30px;
  color: #111;
}
